@import "tailwindcss";
@layer base {
  ul {
    list-style: disc;
    margin-left: 1.5rem;
  }
  ol {
    list-style: decimal;
    margin-left: 1.5rem;
  }

  :root {
    --bg: #07090f;
    --bg2: #0d1117;
    --surface: #111820;
    --surface2: #16202b;
    --border: rgba(255,255,255,0.06);
    --accent: #00e5a0;
    --accent2: #00b8ff;
    --text: #e8edf5;
    --muted: #5a6a7e;
    --muted2: #8a9bb0;
  }
}