---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				max-height: 480px;
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
			a {
				display: inline-block;
				text-decoration: none;
			}
			a.active {
				font-weight: bolder;
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Howdy!</h1>
			<p>
				I'm Will, a student at <a href="https://www.tamu.edu/index.html">Texas A&M University</a> majoring in Computer Science
				and minoring in Game Design & Development. I'm interested in in graphics programming, engine development, technical design, and cybersecurity.
			</p>
            <p>
                I started programming in early high school making simple games like hangman and learning some Unity. 
                I focused more on IT stuff like computer maintenance and networking for the rest of high school, even earning a (now expired) CompTIA A+
                certification. When applying for Colleges I chose Computer Science, as it was the closest I could find that matched my interests to that point.
            </p>
            <p>
                I eventually just lucked into taking classes I liked- Computer Graphics & Animation, Game Design, Software Reverse Engineering. Now this collection 
                of my personal projects includes mostly things relevant to these fields, the projects I've felt pride or joy in creating.
            </p>

		</main>
		<Footer />
	</body>
</html>
