---
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import SmoothScroll from "../components/SmoothScroll.astro";
import SmoothSection from "../components/SmoothSection.astro";
import HomeHeader from "../components/HomeHeader.astro";
import HomeContent from "../components/HomeContent.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Contact from "../components/Contact.astro";
---

<html lang="en" class="overflow-hidden bg-gray-800 font-sans">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>William Stephenson</title>
    <link rel="icon" type="image/x-icon" href="/favi.jpg" />
  </head>
  <body>
    <SmoothScroll>
      <SmoothSection bg="bg-(--bg2)">
        <Hero />

        <HomeHeader title="Projects" />
        <HomeContent>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-1.25">
            <ProjectCard
              title="Raymarched Fluid Simulation"
              link="fluid"
              filename="pbd"
              span="2"
            >
              Realtime Compute Shader PBD Fluid Simulation. Rendered by
              generating and raymarching a density field.
            </ProjectCard>

            <ProjectCard
              title="Modern Vulkan Renderer"
              link="sun-renderer"
              filename="sponza"
              span="1"
            >
              Modern Forward Vulkan Renderer including Frustum Culling, Scene
              Graph, Bindless, PBR, Multithreading, glTF Loading, and more.
            </ProjectCard>

            <ProjectCard title="A* Pathfinding" link="astar" filename="astar" 
              span="1">
              Interactive demonstration/visuzliation of A* Pathfinding on an
              arbitrary grid.
            </ProjectCard>

            <ProjectCard
              title="Custom Compute Particle System"
              link="particles"
              filename="compute"
              span="2"
            >
              Using async compute queue and ping-ponging GPU buffers. Fast &
              easily extensible.
            </ProjectCard>

            <ProjectCard
              title="WebGPU Radiance Cascades"
              link="rc"
              filename="rcvid"
              span="2"
            >
              Interactive radiance cascades (GI data structure) demo implemented
              with WebGPU.
            </ProjectCard>

            <ProjectCard
              title="Revenge of the Pharaoh"
              link="rotp"
              filename="rotp"
              span="1"
            >
              2D Dungeon Crawling Action Game built with a team of 6 throughout
              a semester in Unity.
            </ProjectCard>
          </div>
        </SectionContent>

        <HomeHeader title="About" />
        <HomeContent>
          <About />
        </HomeContent>
        
        <HomeContent>
          <Contact />
        </HomeContent>
      
      </SmoothSection>
    </SmoothScroll>
  </body>
</html>
