---
import "../styles/global.css";
---
<div class="relative z-10 h-full flex flex-col items-center justify-center pt-[20px] px-[48px] pb-[20px]">
    <h1
      class="text-(--text) text-shadow-lg text-5xl md:text-6xl font-bold transition-all duration-500 ease-out my-5"
    >
      Connect
    </h1>
</div>

<section class="relative items-center justify-center text-center overflow-hidden max-w-[700px] mx-auto">
    <div class="text-(--muted2) text-xl leading-[2]">
      <p class="mb-[20px]">
        Open to new opportunities, collaborations, or just a chat about graphics programming and game dev.
      </p>
    </div>
    <div class="flex flex-col justify-center gap-0 overflow-hidden mb-[48px]">
        <a href="https://bsky.app/profile/willowsea.bsky.social" target="_blank" class=" py-[20px] border-2 mb-[10px] border-solid border-transparent hover:border-(--border) decoration-0 block transition-all">
            <span class="text-(--accent) uppercase block mb-2 text-sm">Bluesky</span>
            <span class="text-sm block text-(--text)">@willowsea</span>
        </a>
        <a href="https://github.com/will-ixs" target="_blank" class=" py-[20px] border-2 mb-[10px] border-solid border-transparent hover:border-(--border) decoration-0 block transition-all">
            <span class="text-(--accent) uppercase block mb-2 text-sm">Github</span>
            <span class="text-sm block text-(--text)">@will-ixs</span>
        </a>
        <a href="mailto:wmstephenson9@gmail.com" target="_blank" class=" py-[20px] border-2 mb-[10px] border-solid border-transparent hover:border-(--border) decoration-0 block transition-all">
            <span class="text-(--accent) uppercase block mb-2 text-l">Email</span>
            <span class="text-l block text-(--text)">wmstephenson9@gmail.com</span>
        </a>    
    </div>
</section>
