---
import "../styles/global.css";
---

<nav class="flex px-5 py-4 justify-between items-center">
  <a href="#" class="flex size-1.5 text-(--text)"
    >WS <span class="text-(--accent)">.</span></a
  >
</nav>

<section class="relative w-full overflow-hidden">
  <div
    class="relative z-10 flex justify-center flex-col pt-[120px] px-[48px] pb-[80px]"
  >
    <div
      class="text-xs tracking-tight uppercase text-(--accent) mb-24px flex items-center gap-[10px] before:content[''] before:w-[32px] before:h-[1px] before:bg-(--accent)"
    >
      College Station, TX
    </div>
    <div class="block overflow-hidden">
    <p
      class="text-(--text) text-shadow-md text-5xl md:text-6xl font-bold my-10 max-w-1/2"
    >
      William Stephenson
    </p>
    <p
      class="text-(--muted) max-w-[440px] text-md leading-[1.8]"
    >
      Software developer specializing in <strong class="text-(--muted2)">high performance systems</strong>,
      <strong class="text-(--muted2)">real-time rendering</strong>, and <strong class="text-(--muted2)">computer graphics</strong>. 
      <br>
      <br>
      <em class="text-(--muted2)">
        BS Computer Science - Texas A&M University.
      </em>
    </p>
    </div>
  </div>
</section>
