---
import "../styles/global.css";
---
<section class="relative h-screen w-full overflow-hidden">
  <video
    class="absolute top-0 left-0 w-full h-full object-cover"
    src="/bg.mp4"
    autoplay
    muted
    loop
    playsinline
  />

  <div class="relative z-10 h-full flex items-center justify-center flex-col">
    <h1
      class="hello-text text-emerald-500 text-shadow-lg text-shadow-black text-5xl md:text-7xl font-bold transition-all duration-500 ease-out"
    >
      Howdy!
    </h1>
    <br>
    <p
    class="hello-text text-white text-shadow-xs text-shadow-black text-2xl md:text-4xl font-bold transition-all duration-500 ease-out">
      Welcome to my site.
    </p>
  </div>

  <div class="absolute top-0 left-0 w-full h-full bg-black opacity-70 z-0"></div>
</section>

<script is:inline> 
  window.addEventListener('scroll', () => {
    const test = Array.from(document.getElementsByClassName("hello-text"));
    if (test.length === 0) return;
    const scrollY = window.scrollY;
    const max = window.innerHeight * 0.5;
    const ratio = Math.min(scrollY / max, 1);
    test.forEach(e => {
        e.style.transform = `translateY(-${ratio * 40}px)`;
        e.style.opacity = `${1 - ratio}`;
      });
    });
</script>