---
import "../styles/global.css";
---

<section class="relative h-screen w-full overflow-hidden">
  <video
    class="absolute top-0 left-0 w-full h-full object-cover"
    src="/bg.mp4"
    autoplay
    muted
    loop
    playsinline></video>

  <div class="relative z-10 h-full flex items-center justify-center flex-col">
    <h1
      class="text-emerald-500 text-shadow-lg text-shadow-black text-5xl md:text-7xl font-bold transition-all duration-500 ease-out"
    >
      Howdy!
    </h1>
    <br />
    <p
      class="text-white text-shadow-xs text-shadow-black text-2xl md:text-4xl font-bold transition-all duration-500 ease-out"
    >
      Welcome to my site.
    </p>
    <p
      class="text-white text-shadow-xs text-shadow-black text-2xl md:text-4xl font-bold top-5 mt-100"
    >
      🞃
    </p>
  </div>

  <div class="absolute top-0 left-0 h-[105%] w-full bg-black opacity-70 z-0">
  </div>
</section>
