---
const { title, link, filename } = Astro.props;
---

<li
  class="text-center transition-all duration-200 no-underline block w-[100%-3em] md:w-[calc(50%-3em)] lg:w-[calc(33%-3em)] md:"
>
  <img
    class="hover-play max-w-full mb-2 border-emerald-500 rounded filter brightness-50 hover:brightness-100 transition-filter duration-300 ease-in-out"
    src={`${filename}.jpg`}
  />
  <p class="text-white text-3xl"><strong>{title}</strong></p>
  <br>
  <p class="text-gray-300 text-base">
    <slot />
  </p>
  <br>
  <a class="text-emerald-500 underline" href={`/projects/${link}/`}>Read More...</a>
</li>
