---
const { title, body, link, filename } = Astro.props;
---

<li class="text- transition-all duration-200 max-w-1/4 no-underline block">
  <video class="max-w-full mb-2 border-emerald-500 rounded"src={`${filename}.mp4`} autoplay loop/>
  <h5>{title}</h5>
  <p class="text-white">
    {body}
  </p>

  <a class="text-emerald-500" href={`/projects/${link}/`}>Read More...</a>
</li>