---
const { title } = Astro.props;
---

<div class="relative z-10 h-full flex flex-col items-center justify-center">
    <h1
      class="text-(--text) text-shadow-lg text-5xl md:text-6xl font-bold transition-all duration-500 ease-out my-5"
    >
      {title}
    </h1>
</div>
