---
const { bg = 'bg-gray-800', textColor = 'text-white', className = '' } = Astro.props;
---

<section class={`h-auto flex flex-col align-top justify-center ${bg} ${textColor} ${className}`}>
  <slot />
</section>
