<!doctype html>
<html lang="en" data-astro-cid-bvzihdzo="">
  <head>
    <meta
      http-equiv="content-type"
      content="text/html; charset=UTF-8"
    /><!-- Global Metadata -->
    <meta charset="utf-8" /><meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    /><link
      rel="icon"
      type="image/svg+xml"
      href="https://will-ixs.github.io/favicon.png"
    /><meta name="generator" content="Astro v5.6.2" /><!-- Font preloads -->
    <link
      rel="preload"
      href="https://will-ixs.github.io/fonts/Mont-ExtraLightDEMO.otf"
      as="font"
      type="font/otf"
      crossorigin=""
    /><link
      rel="preload"
      href="https://will-ixs.github.io/fonts/Mont-HeavyDEMO.otf"
      as="font"
      type="font/otf"
      crossorigin=""
    /><!-- Canonical URL -->
    <link
      rel="canonical"
      href="https://will-ixs.github.io/projects/particle-based-fluids/"
    /><!-- Primary Meta Tags -->
    <title>Position Based Fluids</title><meta
      name="title"
      content="Position Based Fluids"
    /><meta
      name="description"
      content="Implementing PBF- an extension to the PBD framework"
    /><!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" /><meta
      property="og:url"
      content="https://will-ixs.github.io/projects/particle-based-fluids/"
    /><meta property="og:title" content="Position Based Fluids" /><meta
      property="og:description"
      content="Implementing PBF- an extension to the PBD framework"
    /><meta
      property="og:image"
      content="https://will-ixs.github.io/blog-placeholder-1.jpg"
    /><!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" /><meta
      property="twitter:url"
      content="https://will-ixs.github.io/projects/particle-based-fluids/"
    /><meta property="twitter:title" content="Position Based Fluids" /><meta
      property="twitter:description"
      content="Implementing PBF- an extension to the PBD framework"
    /><meta
      property="twitter:image"
      content="https://will-ixs.github.io/blog-placeholder-1.jpg"
    /><style>
      :root {
        --accent: #2337ff;
        --accent-dark: #000d8a;
        --black: 15, 18, 25;
        --gray: 96, 115, 159;
        --gray-light: 229, 233, 240;
        --gray-dark: 34, 41, 57;
        --gray-gradient: rgba(var(--gray-light), 50%), #fff;
        --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
          0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
      }
      @font-face {
        font-family: Mont;
        src: url(/fonts/Mont-ExtraLightDEMO.otf) format("otf");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: Mont;
        src: url(/fonts/Mont-HeavyDEMO.otf) format("otf");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      body {
        font-family: Mont, sans-serif;
        margin: 0;
        padding: 0;
        text-align: left;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        background-size: 100% 600px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        color: rgb(var(--gray-dark));
        font-size: 20px;
        line-height: 1.7;
      }
      main {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 3em 1em;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0 0 0.5rem;
        color: rgb(var(--black));
        line-height: 1.2;
      }
      h1 {
        font-size: 3.052em;
      }
      h2 {
        font-size: 2.441em;
      }
      h3 {
        font-size: 1.953em;
      }
      h4 {
        font-size: 1.563em;
      }
      h5 {
        font-size: 1.25em;
      }
      strong,
      b {
        font-weight: 700;
      }
      a,
      a:hover {
        color: var(--accent);
      }
      p {
        margin-bottom: 1em;
      }
      .prose p {
        margin-bottom: 2em;
      }
      textarea {
        width: 100%;
        font-size: 16px;
      }
      input {
        font-size: 16px;
      }
      table {
        width: 100%;
      }
      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
      code {
        padding: 2px 5px;
        background-color: rgb(var(--gray-light));
        border-radius: 2px;
      }
      pre {
        padding: 1.5em;
        border-radius: 8px;
      }
      pre > code {
        all: unset;
      }
      blockquote {
        border-left: 4px solid var(--accent);
        padding: 0 0 0 20px;
        margin: 0;
        font-size: 1.333em;
      }
      hr {
        border: none;
        border-top: 1px solid rgb(var(--gray-light));
      }
      @media (max-width: 720px) {
        body {
          font-size: 18px;
        }
        main {
          padding: 1em;
        }
      }
      .sr-only {
        border: 0;
        padding: 0;
        margin: 0;
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        white-space: nowrap;
      }
      .social-links[data-astro-cid-zamss57n] {
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 1em 0.5em;
      }
      .social-links[data-astro-cid-zamss57n] a[data-astro-cid-zamss57n] {
        text-decoration: none;
        color: rgb(var(--gray));
      }
      .social-links[data-astro-cid-zamss57n] a[data-astro-cid-zamss57n]:hover {
        color: rgb(var(--gray-dark));
      }
      a[data-astro-cid-eimmu3lg] {
        display: inline-block;
        text-decoration: none;
      }
      a[data-astro-cid-eimmu3lg].active {
        font-weight: bolder;
        text-decoration: underline;
      }
      header[data-astro-cid-3ef6ksr2] {
        margin: 0;
        padding: 0 1em;
        background: #fff;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
      }
      h2[data-astro-cid-3ef6ksr2] {
        margin: 0;
        font-size: 1em;
      }
      h2[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2],
      h2[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2].active {
        text-decoration: none;
      }
      nav[data-astro-cid-3ef6ksr2] {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      nav[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2] {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
      }
      nav[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2].active {
        text-decoration: none;
        border-bottom-color: var(--accent);
      }
      footer[data-astro-cid-sz7xmlte] {
        padding: 2em 1em 6em;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
        text-align: center;
      }
      main[data-astro-cid-bvzihdzo] {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      video[data-astro-cid-bvzihdzo] {
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        height: auto;
      }
      .hero-image[data-astro-cid-bvzihdzo] {
        width: 100%;
      }
      .hero-image[data-astro-cid-bvzihdzo] img[data-astro-cid-bvzihdzo] {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose[data-astro-cid-bvzihdzo] {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title[data-astro-cid-bvzihdzo] {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title[data-astro-cid-bvzihdzo] h1[data-astro-cid-bvzihdzo] {
        margin: 0 0 0.5em;
      }
      .date[data-astro-cid-bvzihdzo] {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on[data-astro-cid-bvzihdzo] {
        font-style: italic;
      }
    </style></head
  >
  <body data-astro-cid-bvzihdzo="">
    <header data-astro-cid-3ef6ksr2="">
      <nav data-astro-cid-3ef6ksr2="">
        <h2 data-astro-cid-3ef6ksr2="">
          <a href="https://will-ixs.github.io/" data-astro-cid-3ef6ksr2=""
            >will-ixs</a>
        </h2>
        <div class="internal-links" data-astro-cid-3ef6ksr2="">
          <a
            href="https://will-ixs.github.io/"
            data-astro-cid-3ef6ksr2="true"
            data-astro-cid-eimmu3lg=""
          >
            Home
          </a>
        </div>
        <div class="social-links" data-astro-cid-zamss57n="">
          <a
            href="https://bsky.app/profile/willowsea.bsky.social"
            target="_blank"
            data-astro-cid-zamss57n=""
          >
            <span class="sr-only" data-astro-cid-zamss57n="">Bluesky</span>
            <svg
              viewBox="0 0 600 530"
              aria-hidden="true"
              width="32"
              height="32"
              astro-icon="social/bsky"
              data-astro-cid-zamss57n=""
            >
              <path
                d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"
                fill="currentColor"
                data-astro-cid-zamss57n=""></path></svg
            >
          </a>
          <a
            href="https://github.com/will-ixs"
            target="_blank"
            data-astro-cid-zamss57n=""
          >
            <span class="sr-only" data-astro-cid-zamss57n="">Github</span>
            <svg
              viewBox="0 0 16 16"
              aria-hidden="true"
              width="32"
              height="32"
              astro-icon="social/github"
              data-astro-cid-zamss57n=""
              ><path
                fill="currentColor"
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                data-astro-cid-zamss57n=""></path></svg
            >
          </a>
        </div>
      </nav>
    </header>
    <main data-astro-cid-bvzihdzo="">
      <article data-astro-cid-bvzihdzo="">
        <div class="hero-image" data-astro-cid-bvzihdzo="">
          <video
            width="720"
            height="360"
            src="/gpu_particles.webm"
            autoplay="autoplay"
            muted="muted"
            loop=""
            playsinline=""
            data-astro-cid-bvzihdzo=""></video>
        </div>
        <div class="prose" data-astro-cid-bvzihdzo="">
          <div class="title" data-astro-cid-bvzihdzo="">
            <div class="date" data-astro-cid-bvzihdzo="">
              <time datetime="2025-05-06T00:00:00.000Z"> May 6, 2025 </time>
            </div>
            <h1 data-astro-cid-bvzihdzo="">Position Based Fluids</h1>
            <hr data-astro-cid-bvzihdzo="" />
          </div>
          <p>
            For my Computer Animation final project I implemented <a
              href="https://mmacklin.com/pbf_sig_preprint.pdf"
              >Position Based Fluids</a
            >.
          </p>
          <p>
            The main challenge of this assignment is optimizing the neighbor
            lookups. I used the paper they linked in Position Based Fluids to
            implement my acceleration structure, which is simply a uniform grid.
            Its an old Nvidia white paper on <a
              href="https://developer.download.nvidia.com/compute/cuda/1.1-Beta/x86_website/projects/particles/doc/particles.pdf"
              >CUDA Particles</a
            >.
          </p>
          <p>
            I only finished a multithreaded CPU implementation before the class
            deadline, but just a day after I finished my GPU implementation
            using compute shaders to support massively more particles. There’s
            still room for optimization in it since I was crude with my
            synchronization to make sure it was not the reason for any of my
            issues during development.
          </p>
          <p>
            Here is the video discussing the implementation, at this point I
            only had the CPU implementation working:
          </p>
          <video controls="controls" width="720" height="360">
            <source src="/particles.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <p>
            Libraries used:<br />
            Vulkan - Graphics API<br />
            VulkanMemoryAllocator - Easy buffer/image allocation<br />
            VkBootstrap - Reduce verbosity of startup<br />
            fastgltf - Model loading<br />
            glm - Math library<br />
            SDL3 - Windowing<br />
            Dear ImGui - Immediate mode GUI
          </p>
        </div>
      </article>
    </main>
    <footer data-astro-cid-sz7xmlte="">
      © 2025 William Stephenson
      <div class="social-links" data-astro-cid-zamss57n="">
        <a
          href="https://bsky.app/profile/willowsea.bsky.social"
          target="_blank"
          data-astro-cid-zamss57n=""
        >
          <span class="sr-only" data-astro-cid-zamss57n="">Bluesky</span>
          <svg
            viewBox="0 0 600 530"
            aria-hidden="true"
            width="32"
            height="32"
            astro-icon="social/bsky"
            data-astro-cid-zamss57n=""
          >
            <path
              d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"
              fill="currentColor"
              data-astro-cid-zamss57n=""></path></svg
          >
        </a>
        <a
          href="https://github.com/will-ixs"
          target="_blank"
          data-astro-cid-zamss57n=""
        >
          <span class="sr-only" data-astro-cid-zamss57n="">Github</span>
          <svg
            viewBox="0 0 16 16"
            aria-hidden="true"
            width="32"
            height="32"
            astro-icon="social/github"
            data-astro-cid-zamss57n=""
            ><path
              fill="currentColor"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              data-astro-cid-zamss57n=""></path></svg
          >
        </a>
      </div>
    </footer>
  </body>
</html>
