---
import ProjectPage from "../../components/ProjectPage.astro";
---

<ProjectPage
  pageTitle="RotP"
  articleTitle="Revenge of the Pharaoh"
  videoFileName="rotp"
  linkTarget="https://sandstorm-interactive.itch.io/revenge-of-the-pharaoh"
  linkText="Itch Link"
>            Revenge of the Pharaoh is the project a top down dungeon crawler
            game developed over a semester long game development course at my
            university. Our group consisted of two artists and four programmers.
            We started by deciding on some mechanics and a vibe/theme for the
            game, created our narrative from that and made a Game Design
            Document. We made weekly reports of progress and planned certain
            milestones to hit throughout the semester.

            <br /><br />
            Personally I was responsible for the technical design and implementation
            of the player character controller and attacks, the regular enemy spawning
            system, the stage progression and checkpoint system, creating the animations
            for the player character and enemies from the frames provided by our
            artists in Unity, and boss animations to their current states, and all
            3 main boss fights including their splash animations, attacks, movement
            patterns, and behavior state machines.

</ProjectPage>
<a
  href="/"
  class="absolute top-4 left-4 bg-emerald-600 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-emerald-500 transition"
>
  ← Back to Home
</a>

